API_VERSION=v1
BACKEND_PORT=5000

DB_URL=libsql://smtmsmt

FIREBASE_CREDENTIALS={}
FIREBASE_CLIENT_CONFIG={}

OBJECT_STORE_CONFIG={"site_id":"","token":"","api_url":"","store":"","timeout_ms":30000,"max_db_snapshots":2,"upload_secret":""}
FRONTEND_SAVE_DIR=../public/
