API_VERSION="v1"
PORT="5000"
REVERSE_PROXY_PORT="8000"

CACHE_URL="https://cache-url"
HOSTNAME="api-server"
DB_URL="file:///data/jsbee.sql?_pragma=foreign_keys(ON)&_pragma=busy_timeout(5000)"

FIREBASE_CREDENTIALS='firebase_key'

FRONTEND_SAVE_DIR="/data/public/"
