API_VERSION="v1"
PORT="5000"
REVERSE_PROXY_PORT="8000"

CACHE_URL="https://cache-url"
HOSTNAME="api-server"
DB_URL="postgres://db-url"

FIREBASE_CREDENTIALS='firebase_key'

DB_MAX_CONN="5"
DB_MAX_IDLE_CONN="5"
DB_MAX_LIFETIME="48h"
DB_MAX_IDLE_TIME="24h"
DB_PASSWORD="db_password"
