worker_processes auto;
events { worker_connections 1024; }

http {
  include /etc/nginx/mime.types;

  upstream backend_cluster {
    server $HOSTNAME:$PORT;
  }

  server {
    listen 80;
    server_name "";

    location /api/$API_VERSION {
      proxy_pass http://backend_cluster;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /api/$API_VERSION/paper {
      proxy_pass http://backend_cluster;

      client_max_body_size 100m;
      proxy_request_buffering off;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /api/$API_VERSION/blog {
      proxy_pass http://backend_cluster;

      client_max_body_size 10m;
      proxy_request_buffering off;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /api/$API_VERSION/admin/blog {
      proxy_pass http://backend_cluster;

      client_max_body_size 10m;
      proxy_request_buffering off;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /api/$API_VERSION/admin/about {
      proxy_pass http://backend_cluster;

      client_max_body_size 10m;
      proxy_request_buffering off;

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location = / {
      root /data;
      index index.html;
    }

    location / {
      root /data;
      try_files $uri $uri.html =404;
      error_page 404 /not_found.html;
    }
  }
}
