package components

import (
  "github.com/Ankumeah/JSBEE/backend/internal/provider"
)

var indexInfo = pageInfo {
  title: provider.SiteName,
  description: provider.SiteDescription,
}

templ indexPage() {
  @navBar(provider.SiteName)
}

templ IndexPage() {
  @base(indexInfo, indexPage())
}
