package components

import (
  "github.com/Ankumeah/JSBEE/backend/internal/database"
  "github.com/Ankumeah/JSBEE/backend/internal/provider"
)

var volumesInfo = pageInfo {
  title: "Volumes",
  description: "View all volumes",
}

templ volumesPage(volumes []database.Volume) {
  @navBar(provider.SiteName)
}

templ VolumesPage(volumes []database.Volume) {
  @base(volumesInfo, volumesPage(volumes))
}
